<br/>
<div class="card">
    <div class="col-md-12 mt-3">
        <h1 style="text-align:center;">Editando el almacen</h1>
        <h5 style="text-align:center;">Ingrese los datos para actualizar el almacen.</h5>
        <div class="alert alert-success" *ngIf="status=='success'">
            El registro se actualizo correctamente!
        </div>
        <div class="alert alert-danger" *ngIf="status=='error'">
            Error al actualizar la información!
        </div>
        <br/>
        <form class="col-md-6 mr-auto ml-auto" #almacenEditForm="ngForm" (ngSubmit)="onSubmit(almacenEditForm)">
            <div class="form-group">
                <label>Ubicacion</label>
                <input type="text" name="ubicacion" #ubicacion="ngModel" [(ngModel)]="almacen.ubicacion" class="form-control" required pattern="[a-zA-Z]+" placeholder="provincia, canton">
            </div>
            <div class="form-group">
                <label>Encargado</label>
                <input type="text" name="encargado" #encargado="ngModel" [(ngModel)]="almacen.encargado" class="form-control" required pattern="[a-zA-Z]+">
            </div>
            <div class="form-group">
                <label>Nombre del almacen</label>
                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="almacen.nombre" class="form-control" required pattern="[a-zA-Z]+">
            </div>
            <div class="form-group">
                <label>Telefono</label>
                <input type="text" name="telefono" #telefono="ngModel" [(ngModel)]="almacen.telefono" class="form-control" required pattern="[0-9]+" placeholder="8888-8888">
            </div>
            <input type="submit" value="Editar" class="btn btn-success">

        </form>
    </div>
    <br/>
</div>
