<div class="loading" *ngIf="!almacenes">
    Cargando...
</div>
<div class="container-fluid mt-3" *ngIf="almacenes">
    <h3>Listado de nuestros almacenes</h3>
    <hr>
    <div class="card-columns">
        <article class="cards w-100" *ngFor="let almacen of almacenes">
            <div class="card-header mt-2">
                <h5>
                    <a [routerLink]="['/inicio']">{{almacen.nombre}}</a>
                </h5>
            </div>
            <div class="card-body">
                <div class="post-buttons mt-2">
                    <a class="btn btn-info mr-2" [routerLink]="['/inicio']">Leer</a>

                    <a class="btn btn-warning mr-2 " [routerLink]="['/almacen-edit', almacen.id]">Editar</a>
                    <a class="btn btn-danger mr-2" (click)="delete(almacen.id)">Borrar</a>

                </div>
            </div>

        </article>

    </div>
</div>
