<div class="loading" *ngIf="!almacenes">
    Cargando...
</div>
<div *ngIf="almacenes">
    <br>
    <h3>Listado de nuestros almacenes</h3>
    <hr>
</div>
<div class="text-center">
    <img src="assets/img/almacen.png" width="230px" alt="">
</div>
<br>
<table class="table table-bordered table-striped" *ngIf="almacenes">
    <thead class="table-success">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">ID</th>
            <th scope="col">Encargado</th>
            <th scope="col">Ubicacion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Funciones</th>
        </tr>
    </thead>
    <tbody *ngFor="let almacen of almacenes">
        <tr>
            <td>{{almacen.nombre}}</td>
            <td>{{almacen.id}}</td>
            <td>{{almacen.encargado}}</td>
            <td>{{almacen.ubicacion}}</td>
            <td>{{almacen.telefono}}</td>

            <div class="text-center mt-1">
                <a class="btn btn-warning mr-2 " [routerLink]="['/edit-almacen', almacen.id]">Editar</a>
                <a class="btn btn-danger mr-2" (click)="delete(almacen.id)">Borrar</a>
            </div>
        </tr>
    </tbody>
</table>
