<div class="col-md-12 mt-3">
    <h1>Ajustes de Usuario</h1>


    <div class="alert alert-success" *ngIf="status=='success'">
        El registro se actualizo correctamente!
    </div>
    <div class="alert alert-danger" *ngIf="status=='error'">
        Error al actualizar la información!
    </div>

    <form class="col-md-8 mr-auto ml-auto" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">
        <div class="form-group">
            <label>Cedula</label>
            <input type="text" name="cedula" class="form-control" #name="ngModel" [(ngModel)]="user.cedula" required pattern="[0-9]+" placeholder="8-8888-8888">
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">-La cedula no es valido-</small>
        </div>
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" name="nombre" class="form-control" #name="ngModel" [(ngModel)]="user.nombre" required pattern="[a-zA-Z]+">
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">-El nombre no es valido-</small>
        </div>
        <div class="form-group">
            <label>Apellidos</label>
            <input type="text" name="apellidos" class="form-control" #last_name="ngModel" [(ngModel)]="user.apellidos" required pattern="[a-zA-Z]+">
            <small *ngIf="!last_name.valid && last_name.touched" class="invalid-feedback d-block">-El apellido no es valido-</small>
        </div>
        <div class="form-group">
            <label>correo</label>
            <input type="email" name="correo" class="form-control" #email="ngModel" [(ngModel)]="user.correo">
        </div>

        <input type="submit" value="Guardar" class="btn btn-success" [disabled]="userEditForm.invalid">
    </form>
</div>