<div class="loading" *ngIf="!productos">
    Cargando...
</div>
<div *ngIf="productos">
    <br>
    <h3>Listado de nuestros categorias</h3>
    <hr>
</div>

<table class="table table-bordered table-striped" *ngIf="productos">
    <thead class="table-success">
        <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">ID</th>
            <th scope="col">Existencia</th>
            <th scope="col">Maximo</th>
            <th scope="col">Minimo</th>
            <th scope="col">Almacen</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Categoria</th>
            <th scope="col">Funciones</th>
        </tr>
    </thead>
    <tbody *ngFor="let producto of productos">
        <tr>
            <td>{{producto.imagen}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.id}}</td>
            <td>{{producto.existenciaActual}}</td>
            <td>{{producto.maximo}}</td>
            <td>{{producto.minimo}}</td>
            <td>{{producto.idAlmacen}}</td>
            <td>{{getProveedor(producto.idProveedor)}}{{proveedor.nombre}}</td>
            <td>{{getCategoria(producto.idCategoria)}}{{categoria.nombre}}</td>
            <div class="text-center mt-1">
                <a class="btn btn-warning mr-2 " [routerLink]="['/producto-edit', producto.id]">Editar</a>
                <a class="btn btn-danger mr-2" (click)="delete(producto.id)">Borrar</a>
            </div>
        </tr>
    </tbody>
</table>
