<br/>
  <div class="card" >
<div id="carouselHome" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" style="cursor:pointer;">
      <a href="https://www.cooperativadospinos.com/news/48">
        <img class="d-block w-100" src="assets/img/img1.jpg" alt="img1.jpg">
      </a>
    </div>
    <div class="carousel-item" style="cursor:pointer;">
      <a href="https://cooperativadospinos.com/assets/files/home/1586226604_ZwSBLdu9FY.pdf">
        <img class="d-block w-100" src="assets/img/img2.jpg" alt="img2.jpg">
      </a>
    </div>
    <div class="carousel-item" style="cursor:pointer;">
      <a href="https://www.cooperativadospinos.com/news/52">
      <img class="d-block w-100" src="assets/img/img3.jpg" alt="img3.jpg">
    </a>
    </div>
    <div class="carousel-item" style="cursor:pointer;">
      <a href="https://www.cooperativadospinos.com/news/43">
      <img class="d-block w-100" src="assets/img/img4.jpg" alt="img4.jpg">
    </a>
    </div>
    <div class="carousel-item active" style="cursor:pointer;">
      <a href="https://www.cooperativadospinos.com/brands">
      <img class="d-block w-100" src="assets/img/img5.png" alt="img5.jpg">
    </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" style="width: 70px; height: 70px; background-color:lightslategrey;" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
      <span class="carousel-control-next-icon" style="width: 70px; height: 70px; background-color:lightslategrey;" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>
</div>

